In [28]:
import numpy as np
import pandas as pd
import pickle
import datetime
pd.set_option('display.max_rows',200)

In [2]:
data=pickle.load(open('data.pkl','rb'))

In [3]:
samples=pd.DataFrame(columns=['name','date','minute','data'])
for i,sample in data.iterrows():
    sel_name=data[data['name']==sample['name']]
    sel_date=sel_name[sel_name['date']==sample['date']]
    if sel_date.empty:
        samples=samples.append(sample,ignore_index=True)
    else:
        sel_date.sort_values(['minute'])
        last_minute=sel_date['minute'].iloc[-1]
        if sample['minute']-last_minute>8:
            samples=samples.append(sample,ignore_index=True)
        elif last_minute<80:
            samples=samples.append(sample,ignore_index=True)

In [6]:
result=[]
for i, row in samples.iterrows():
    sample=pd.Series()
    name,date,minute=row[['name','date','minute']]
    row=row['data']
    sample['name']=name
    sample['date']=date
    sample['league']=row['league']
    sample['minute']=row['minute']
    for c in ['name','corner','yellow','red','throw','freekick','goal']:
        sample[c+'_h'],sample[c+'_a']=row[c][0],row[c][1]
    if 'titles' in row:
        for i,c in enumerate(row['titles']):
            sample[c+'_h'],sample[c+'_a']=row['stats'][0,i],row['stats'][1,i]
    for c in ['Fulltime Result','Double Chance','Half Time Result','1st Goal']:
        sample[c+'_h']=row['odds'][c][0] if c in row['odds'].keys() else np.NaN
        sample[c+'_d']=row['odds'][c][1] if c in row['odds'].keys() else np.NaN
        sample[c+'_a']=row['odds'][c][2] if c in row['odds'].keys() else np.NaN
    result.append(sample)
result=pd.concat(result,axis=1).T

In [7]:
#find label
result['label']=np.NaN
for i, row in result.iterrows():
    sel=samples[samples['name']==name]
    sel=sel[sel['date']==date]
    sel=sel.sort_values('minute')
    sel_last=sel.iloc[-1]
    if sel_last['minute']>85:
        if sel_last['goal_h']>sel_last['goal_a']:
            result.iloc[i]['label']=1
        elif sel_last['goal_h']==sel_last['goal_a']:
            result.iloc[i]['label']=0
        elif sel_last['goal_h']<sel_last['goal_a']:
            result.iloc[i]['label']=-1

    sel_first=sel.iloc[0]
    if sel_last['minute']<5 and sel['goal_h']==0 and sel['goal_a']==0:
        sample['orig_full_result_h']=sel['Fulltime Result_h']
        sample['orig_full_result_d']=sel['Fulltime Result_d']
        sample['orig_full_result_a']=sel['Fulltime Result_a']

In [41]:
result[(result['date']==datetime.date(2018,9,27)) & (result['minute']>60)][['name','minute']]

                                        name minute
412                       Gubbio Albinoleffe     62
416                            Sudtirol Fano     64
417                           Vicenza Rimini     62
430                   FC Nottingen Pforzheim     61
441          Slavia Prague FK Usti nad Labem     62
442                 Aarhus Fremad AGF Aarhus     64
444                          FC Roskilde AaB     67
453             Feyenoord U19 FC Utrecht U19     64
454                 NAC U19 ADO Den Haag U19     62
455              Sparta Rotterdam U19 AZ U19     67
466            FK Napredak Red Star Belgrade     64
479             Stade Nyonnais AC Bellinzona     70
490                   Pro Piacenza Pistoiese     71
491                    Fermana Giana Erminio     69
492                       Gubbio Albinoleffe     72
493                           Imolese Teramo     68
494                             Monza Renate     68
495                  Pordenone Virtus Verona     69
496                            Sudtirol Fano     74
497                           Vicenza Rimini     72
498      Fortuna Dusseldorf Bayer Leverkusen     67
499                Erzgebirge Aue Sandhausen     70
500               Jahn Regensburg Heidenheim     69
501                   Magdeburg MSV Duisburg     70
502                       St Pauli Paderborn     69
510                   FC Nottingen Pforzheim     72
532          Slavia Prague FK Usti nad Labem     74
533                 Aarhus Fremad AGF Aarhus     76
535                          FC Roskilde AaB     79
538                  Excelsior Maassluis PSV     72
598                                 DOVO Urk     64
600                       Katwijk Heerenveen     61
601                    RKAV Volendam Vitesse     62
602                     Staphorst PEC Zwolle     63
603                          VV Eemdijk ASWH     61
605           Maccabi Haifa Maccabi Tel Aviv     62
638                                 DOVO Urk     72
639                          Groene Ster TEC     67
640                       Katwijk Heerenveen     69
641                    RKAV Volendam Vitesse     70
642                     Staphorst PEC Zwolle     71
643                          VV Eemdijk ASWH     69
645           Maccabi Haifa Maccabi Tel Aviv     71
664                        Leganes Barcelona     61
665  Alcobendas Sport UD San Sebastian Reyes     61
669     Cercle Brugge KFCO Beerschot Wilrijk     62
670                    Excelsior Virton Gent     62
671                              Genk Lommel     64
672                Olympic Charleroi Lokeren     61
675        Chapecoense U23 Internacional U23     64
676             Figueirense CA Metropolitano     63
821          Millonarios Jaguares de Cordoba     62
826          Millonarios Jaguares de Cordoba     63
831          Millonarios Jaguares de Cordoba     66
836          Millonarios Jaguares de Cordoba     66
841          Millonarios Jaguares de Cordoba     69
846          Millonarios Jaguares de Cordoba     70
851          Millonarios Jaguares de Cordoba     73
856          Millonarios Jaguares de Cordoba     74
861          Millonarios Jaguares de Cordoba     77

In [34]:
result[result['date']==datetime.date(2018,9,28)][['name','minute','goal_h','goal_a']].sort_values(['name','minute'])

                                                   name minute goal_h goal_a
926                             Al Kuwait SC Ismaily SC     -1      2      3
885                             Al Kuwait SC Ismaily SC      0      0      0
886                             Al Kuwait SC Ismaily SC      2      0      0
887                             Al Kuwait SC Ismaily SC      5      0      0
888                             Al Kuwait SC Ismaily SC      7      0      0
889                             Al Kuwait SC Ismaily SC     10      0      0
890                             Al Kuwait SC Ismaily SC     12      0      0
891                             Al Kuwait SC Ismaily SC     15      0      0
892                             Al Kuwait SC Ismaily SC     18      0      0
893                             Al Kuwait SC Ismaily SC     21      0      0
894                             Al Kuwait SC Ismaily SC     24      1      0
895                             Al Kuwait SC Ismaily SC     26      1      0
896                             Al Kuwait SC Ismaily SC     32      1      0
897                             Al Kuwait SC Ismaily SC     37      1      0
898                             Al Kuwait SC Ismaily SC     39      1      0
899                             Al Kuwait SC Ismaily SC     42      1      0
900                             Al Kuwait SC Ismaily SC     44      1      0
902                             Al Kuwait SC Ismaily SC     45      1      0
903                             Al Kuwait SC Ismaily SC     45      1      0
904                             Al Kuwait SC Ismaily SC     45      1      0
905                             Al Kuwait SC Ismaily SC     45      1      0
906                             Al Kuwait SC Ismaily SC     45      1      0
907                             Al Kuwait SC Ismaily SC     45      1      0
901                             Al Kuwait SC Ismaily SC     47      1      0
908                             Al Kuwait SC Ismaily SC     47      1      0
909                             Al Kuwait SC Ismaily SC     50      1      0
910                             Al Kuwait SC Ismaily SC     53      1      0
911                             Al Kuwait SC Ismaily SC     55      1      0
912                             Al Kuwait SC Ismaily SC     58      1      0
913                             Al Kuwait SC Ismaily SC     61      1      0
914                             Al Kuwait SC Ismaily SC     63      1      0
915                             Al Kuwait SC Ismaily SC     66      1      0
916                             Al Kuwait SC Ismaily SC     69      2      0
917                             Al Kuwait SC Ismaily SC     72      2      0
918                             Al Kuwait SC Ismaily SC     75      2      0
919                             Al Kuwait SC Ismaily SC     78      2      0
920                             Al Kuwait SC Ismaily SC     80      2      0
921                             Al Kuwait SC Ismaily SC     83      2      0
922                             Al Kuwait SC Ismaily SC     86      2      0
923                             Al Kuwait SC Ismaily SC     89      2      0
924                             Al Kuwait SC Ismaily SC     91      2      0
925                             Al Kuwait SC Ismaily SC    120      0      1
1062                      Cilegon United PSPS Pekanbaru      0      0      0
1085                      Cilegon United PSPS Pekanbaru      3      0      0
1098                      Cilegon United PSPS Pekanbaru      4      0      0
1112                      Cilegon United PSPS Pekanbaru      7      0      0
998                           FC Pisek SK Sokol Brozany      0      0      0
1024                          FC Pisek SK Sokol Brozany      2      0      0
1034                          FC Pisek SK Sokol Brozany      3      0      0
1042                          FC Pisek SK Sokol Brozany      5      0      0
1054                          FC Pisek SK Sokol Brozany      6      0      0
1060                          FC Pisek SK Sokol Brozany      9      0      0
1071                          FC Pisek SK Sokol Brozany     10      0      0
1081                          FC Pisek SK Sokol Brozany     13      0      0
1094                          FC Pisek SK Sokol Brozany     14      0      0
1106                          FC Pisek SK Sokol Brozany     17      0      0
1043                        FK Litomericko FK Dobrovice      0      0      0
1107                        FK Litomericko FK Dobrovice      1      0      0
959           FK Orenburg Reserves CSKA Moscow Reserves      0      0      0
978           FK Orenburg Reserves CSKA Moscow Reserves      1      0      0
989           FK Orenburg Reserves CSKA Moscow Reserves      4      0      0
994           FK Orenburg Reserves CSKA Moscow Reserves      5      0      0
1002          FK Orenburg Reserves CSKA Moscow Reserves      7      0      0
1007          FK Orenburg Reserves CSKA Moscow Reserves      8      0      0
1013          FK Orenburg Reserves CSKA Moscow Reserves     14      0      1
1019          FK Orenburg Reserves CSKA Moscow Reserves     15      0      1
1028          FK Orenburg Reserves CSKA Moscow Reserves     18      0      2
1037          FK Orenburg Reserves CSKA Moscow Reserves     19      0      2
1049          FK Orenburg Reserves CSKA Moscow Reserves     22      0      2
1065          FK Orenburg Reserves CSKA Moscow Reserves     25      0      2
1075          FK Orenburg Reserves CSKA Moscow Reserves     26      0      3
1088          FK Orenburg Reserves CSKA Moscow Reserves     29      0      3
1100          FK Orenburg Reserves CSKA Moscow Reserves     30      0      3
1115          FK Orenburg Reserves CSKA Moscow Reserves     33      0      3
958             Hapoel Bnei Jat United Beitar Ramat Gan      0      0      0
977             Hapoel Bnei Jat United Beitar Ramat Gan      2      0      0
983             Hapoel Bnei Jat United Beitar Ramat Gan      3      0      0
988             Hapoel Bnei Jat United Beitar Ramat Gan      5      0      0
993             Hapoel Bnei Jat United Beitar Ramat Gan      6      0      0
1001            Hapoel Bnei Jat United Beitar Ramat Gan      9      0      0
1012            Hapoel Bnei Jat United Beitar Ramat Gan     16      0      0
1027            Hapoel Bnei Jat United Beitar Ramat Gan     19      0      0
1036            Hapoel Bnei Jat United Beitar Ramat Gan     20      0      0
1048            Hapoel Bnei Jat United Beitar Ramat Gan     23      0      0
1057            Hapoel Bnei Jat United Beitar Ramat Gan     24      0      0
1064            Hapoel Bnei Jat United Beitar Ramat Gan     27      0      0
1074            Hapoel Bnei Jat United Beitar Ramat Gan     28      0      0
1087            Hapoel Bnei Jat United Beitar Ramat Gan     31      0      0
1114            Hapoel Bnei Jat United Beitar Ramat Gan     34      0      0
960   Lokomotiv Moscow Reserves FC Akhmat Grozny Res...      0      0      0
969   Lokomotiv Moscow Reserves FC Akhmat Grozny Res...      2      1      0
973   Lokomotiv Moscow Reserves FC Akhmat Grozny Res...      3      1      0
979   Lokomotiv Moscow Reserves FC Akhmat Grozny Res...      5      1      0
984   Lokomotiv Moscow Reserves FC Akhmat Grozny Res...      6      1      0
990   Lokomotiv Moscow Reserves FC Akhmat Grozny Res...      9      1      0
995   Lokomotiv Moscow Reserves FC Akhmat Grozny Res...     10      1      0
1003  Lokomotiv Moscow Reserves FC Akhmat Grozny Res...     12      1      0
1008  Lokomotiv Moscow Reserves FC Akhmat Grozny Res...     13      1      0
1014  Lokomotiv Moscow Reserves FC Akhmat Grozny Res...     19      1      0
1020  Lokomotiv Moscow Reserves FC Akhmat Grozny Res...     20      1      0
...                                                 ...    ...    ...    ...
991     Rangsit University JW FC Kasembundit University     45      0      0
996     Rangsit University JW FC Kasembundit University     45      0      0
1004    Rangsit University JW FC Kasembundit University     45      0      0
1009    Rangsit University JW FC Kasembundit University     45      0      0
1015    Rangsit University JW FC Kasembundit University     45      0      0
974     Rangsit University JW FC Kasembundit University     46      0      0
1030    Rangsit University JW FC Kasembundit University     49      0      0
1039    Rangsit University JW FC Kasembundit University     50      0      0
1051    Rangsit University JW FC Kasembundit University     53      0      0
1067    Rangsit University JW FC Kasembundit University     56      0      0
1077    Rangsit University JW FC Kasembundit University     57      0      0
1090    Rangsit University JW FC Kasembundit University     60      0      0
1102    Rangsit University JW FC Kasembundit University     61      0      0
1117    Rangsit University JW FC Kasembundit University     64      1      0
957             SC Haifa Robi Shapira Hapoel Asi Gilboa      0      0      0
968             SC Haifa Robi Shapira Hapoel Asi Gilboa      1      0      0
972             SC Haifa Robi Shapira Hapoel Asi Gilboa      2      0      0
976             SC Haifa Robi Shapira Hapoel Asi Gilboa      4      0      0
982             SC Haifa Robi Shapira Hapoel Asi Gilboa      5      0      0
987             SC Haifa Robi Shapira Hapoel Asi Gilboa      8      1      0
1000            SC Haifa Robi Shapira Hapoel Asi Gilboa     11      1      0
1006            SC Haifa Robi Shapira Hapoel Asi Gilboa     12      1      0
1011            SC Haifa Robi Shapira Hapoel Asi Gilboa     18      1      0
1018            SC Haifa Robi Shapira Hapoel Asi Gilboa     19      1      0
1026            SC Haifa Robi Shapira Hapoel Asi Gilboa     22      1      1
1047            SC Haifa Robi Shapira Hapoel Asi Gilboa     25      2      1
1056            SC Haifa Robi Shapira Hapoel Asi Gilboa     26      2      1
1063            SC Haifa Robi Shapira Hapoel Asi Gilboa     29      2      1
1073            SC Haifa Robi Shapira Hapoel Asi Gilboa     30      2      1
1086            SC Haifa Robi Shapira Hapoel Asi Gilboa     33      2      1
1099            SC Haifa Robi Shapira Hapoel Asi Gilboa     34      2      1
1113            SC Haifa Robi Shapira Hapoel Asi Gilboa     37      2      1
1044                     Spartak Hulin CSK Uhersky Brod      0      0      0
1082                     Spartak Hulin CSK Uhersky Brod      3      0      0
1095                     Spartak Hulin CSK Uhersky Brod      4      0      0
1108                     Spartak Hulin CSK Uhersky Brod      7      0      0
936           Thammasat University Rajapruek University     29      1      0
938           Thammasat University Rajapruek University     32      1      0
940           Thammasat University Rajapruek University     33      1      0
942           Thammasat University Rajapruek University     36      1      0
944           Thammasat University Rajapruek University     37      1      0
946           Thammasat University Rajapruek University     40      1      0
948           Thammasat University Rajapruek University     41      1      0
950           Thammasat University Rajapruek University     43      1      0
952           Thammasat University Rajapruek University     44      1      0
962           Thammasat University Rajapruek University     45      1      0
963           Thammasat University Rajapruek University     45      1      0
965           Thammasat University Rajapruek University     45      1      0
967           Thammasat University Rajapruek University     45      1      0
971           Thammasat University Rajapruek University     45      1      0
975           Thammasat University Rajapruek University     45      1      0
981           Thammasat University Rajapruek University     45      1      0
986           Thammasat University Rajapruek University     45      1      0
992           Thammasat University Rajapruek University     45      1      0
997           Thammasat University Rajapruek University     45      1      0
1005          Thammasat University Rajapruek University     45      1      0
954           Thammasat University Rajapruek University     46      1      0
1010          Thammasat University Rajapruek University     46      1      0
956           Thammasat University Rajapruek University     47      1      0
1016          Thammasat University Rajapruek University     52      1      0
1021          Thammasat University Rajapruek University     53      1      0
1031          Thammasat University Rajapruek University     55      1      0
1040          Thammasat University Rajapruek University     56      1      0
1052          Thammasat University Rajapruek University     59      1      0
1059          Thammasat University Rajapruek University     60      1      0
1068          Thammasat University Rajapruek University     63      1      0
1078          Thammasat University Rajapruek University     64      1      0
1091          Thammasat University Rajapruek University     67      1      0
1103          Thammasat University Rajapruek University     68      1      0
1118          Thammasat University Rajapruek University     71      1      0
1023                                   USA VI Latvia VI     17      2      0
1033                                   USA VI Latvia VI     20      2      0
1070                                   USA VI Latvia VI     23      2      0
1080                                   USA VI Latvia VI     24      2      0
1093                                   USA VI Latvia VI     27      2      0
1105                                   USA VI Latvia VI     28      2      0
1120                                   USA VI Latvia VI     31      2      0
1045                        Valašské Mezirící SK Unicov      0      0      0
1083                        Valašské Mezirící SK Unicov      2      0      0
1096                        Valašské Mezirící SK Unicov      3      0      0
1109                        Valašské Mezirící SK Unicov      6      0      0
999                  Viktoria Otrokovice Velke Mezirici      0      0      0
1025                 Viktoria Otrokovice Velke Mezirici      2      0      0
1035                 Viktoria Otrokovice Velke Mezirici      3      0      0
1046                 Viktoria Otrokovice Velke Mezirici      6      0      0
1061                 Viktoria Otrokovice Velke Mezirici      9      0      1
1072                 Viktoria Otrokovice Velke Mezirici     10      0      1
1084                 Viktoria Otrokovice Velke Mezirici     13      0      2
1097                 Viktoria Otrokovice Velke Mezirici     14      0      2
1110                 Viktoria Otrokovice Velke Mezirici     17      0      2
1055                    Viktoria Plzen U19 Slovacko U19      0      0      0
1111                    Viktoria Plzen U19 Slovacko U19      2      0      0
927                       Wisconsin Women Rutgers Women      0      0      0
928                       Wisconsin Women Rutgers Women      0      0      0
929                       Wisconsin Women Rutgers Women      0      0      0
930                       Wisconsin Women Rutgers Women      0      0      0
931                       Wisconsin Women Rutgers Women      0      0      0
932                       Wisconsin Women Rutgers Women      0      0      0
933                       Wisconsin Women Rutgers Women      0      0      0
934                       Wisconsin Women Rutgers Women      0      0      0

[236 rows x 4 columns]

In [4]:
a

Empty DataFrame
Columns: [name]
Index: []

In [36]:
row.keys()

dict_keys(['league', 'minute', 'name', 'corner', 'yellow', 'red', 'throw', 'freekick', 'goalkick', 'penalty', 'goal', 'titles', 'stats', 'odds'])

In [13]:
data.iloc[0]['data']

{'league': 'Italy Serie C',
 'minute': 6,
 'name': ['Pro Piacenza', 'Pistoiese'],
 'corner': [0, 0],
 'yellow': [0, 0],
 'red': [0, 0],
 'throw': [nan, nan],
 'freekick': [nan, nan],
 'goalkick': [nan, nan],
 'penalty': [0, 0],
 'goal': [0, 0],
 'titles': ['Attacks',
  'Dangerous Attacks',
  'Possession %',
  'On Target',
  'Off Target'],
 'stats': array([[ 7,  2, 38,  0,  0],
        [10,  5, 62,  0,  1]]),
 'odds': {'Fulltime Result': [2.0, 3.2, 3.75],
  'Double Chance': [1.25, 1.72, 1.33],
  'Half Time Result': [2.75, 1.9, 4.5],
  '1st Goal': [1.66, 6.5, 2.62],
  'Match Goals':      Over  Under
  2.5  2.37   1.53,
  'Alternative Match Goals':       Over  Under
  0.5   1.10  6.500
  1.5   1.44  2.620
  3.5   4.33  1.200
  4.5   8.00  1.062
  5.5  12.00  1.015,
  'First Half Goals':       Over  Under
  0.5   1.57   2.25
  1.5   3.75   1.25
  2.5  11.00   1.05}}